@model HomePageViewModel
@{
    ViewData["Title"] = "Anasayfa";
}



<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var item in Model.Sliders)
        {
            <div class="carousel-item @(item == Model.Sliders.FirstOrDefault() ? "active" : "")">
                <img src="/Image/@item.Image" class="d-block w-100" alt="...">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="text-center">
    <h1 class="display-4">Ürünlerimiz</h1>
    <p>Sizin için seçtiklerimiz</p>
</div>

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @foreach (var item in Model.Products)
        {
            <partial name="_ProductView" model="item" />
        }
    </div>
</div>